*{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Open Sans', sans-serif;
}

li {
    list-style: none;
    display: inline;
    margin-right: 40px;
}

/*Cabecalho*/
.cabecalho {
    background-color: #BE89CB;
    height: 103px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.lista-menu li>a {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
}


/* Configuração para mobile */
@media (max-width: 767px) {
    .cabecalho {
        width: 100%;
        height: auto;
        padding: 10px;
        text-align: center;
    }

    .lista-menu {
        text-align: center; /* Alinhe a lista ao centro */
    }

    .lista-menu li {
        margin-bottom: 10px; /* Adicione margem entre os itens da lista */
    }
    
    .lista-menu li > a {
        font-size: 16px; /* Reduza o tamanho da fonte para dispositivos móveis */
    }
}

/*MAIN*/
/**PERFIL**/
.descricao{
    background-color: #EDEAEA;
    height: 579px;
    text-align: center;
}

.avatar {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 48px;
    margin-bottom: 20px;
}

.sobre-mim {
    font-size: 14px;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    font-family: 'ABeeZee', serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
}

.italico{
    background-color: #FF4DBC;
}

.titulo-principal {
    font-weight: 700;
    color: #FF4DBC;
    font-size: 36px;
    font-style: normal;
}

.subtitulo-principal {
    font-weight: 700px;
    color: #C5C0C0;
    font-size: 24px;
}

/*Formação*/
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 86px;
    max-width: 750px;
}

.artigo-formacao {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.titulo-sessao {
    color:#FF4DBC;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 50px;
}

.lista-formacao {
    padding-left: 32px;
}

.titulo-formacao{
    color: #828282;
    font-size: 16px;
    font-weight: 700;
}

.link-formacao{
    color: #2F80ED;
    font-size: 14px;
}

.descricao-formacao{
    font-size: 14px;
    margin-top: 8px;
    font-family: 'ABeeZee', serif;
    text-align: justify;
    color: #000000;
    margin-bottom: 16px;
}

/*Meus Projetos*/
.container {
    margin-left: auto;
    margin-right: auto;
    margin-top: 86px;
    max-width: 750px;
}

.artigo-projetos {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    margin-bottom: 100px;
}

.lista-projetos {
    padding-left: 32px;
}

.titulo-projetos {
    color: #661E4B;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.subtitulo-projetos {
    color: #000000;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 8px;
}

.container-projetos{
    margin-bottom: 16px;
}


/* Configuracao para Mobile - Perfil */

@media (max-width: 767px) {
    .descricao {
        height: auto;
        width: 100%;
        padding-left: 20px;
    }

    .sobre-mim {
        width: auto;
        font-size: 14px;
    }

    .avatar {
        height: 100px;
        width: 100px;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .titulo-principal {
        font-size: 24px;
    }

    .subtitulo-principal {
        font-size: 18px;
    }

    /* Configuracao para Mobile - Formacao */
    .artigo-formacao {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .titulo-sessao {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .lista-formacao {
        padding-left: 20px;
    }

    /* Configuracao para Mobile - Projetos */
    .artigo-projetos {
        margin-top: 50px;
        margin-bottom: 50px;
        padding-left: 20px
    }

    .titulo-projetos {
        font-size: 16px;
        margin-bottom: 10px;
    }
}

/*Footer*/
footer {
    display: flex;
    align-items: center;
    height: 198px;
    background-color: #BE89CB;  
}

.lista-rodape li{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 28px;
}

.link-rodape{
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
    text-decoration-line: underline;
}

.container-rodape{
    margin-left: 60px;
}

i{
    margin-right: 13.5px;
    color: #FFFFFF;
}


/* Estilos para telas menores (mobile) usando uma regra de mídia query */
@media (max-width: 767px) {
    footer {
        width: 100%;
        height: auto;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 10px; 
    }

    .lista-rodape li {
        margin-bottom: 20px;
    }

    .container-rodape {
        padding-left: 0; 
    }
}